kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraMounts:
    # hostPath must match the path to the dist folder of the portainer project
  - hostPath: _PORTAINER_PATH_/dist
    containerPath: /portainer/app
  extraPortMappings:
  - containerPort: 9000
    # hostPort will be the port to use to access portainer instance at localhost:hostPort
    hostPort: 9060
    # port 8000 needs to be exposed in order to access the edge agent
  - containerPort: 8000
    hostPort: 8000
    # port 30779 of the host (not the kind instance but host computer) is bound to edge-agent port 9001
  - containerPort: 9001
    hostPort: 30779
