# name of the target docker-machine VM
DM_NAME="swarm"

# CE image to deploy initially
#CE_IMAGE="portainerci/portainer-ce:local"

# agent image to deploy initially
AGENT_IMAGE="portainerci/agent:develop"

# source EE image (existing) to use as next
EE_SOURCE_IMAGE="portainerci/portainer-ee:develop"

# next EE image reference (ref of the CE to EE upgrade)
EE_NEXT_IMAGE="portainer/portainer-ee:2.22.0"